<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommentsScaleFactor</key>
	<real>2</real>
	<key>CompileFolder</key>
	<string>/Users/bcdav/Dropbox/Application Support/BBEdit/Pandoc/Workflow</string>
	<key>HistoryCalendarType</key>
	<integer>2</integer>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>HistoryUsesChars</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1.25</real>
	<key>PrevBuiltInLayoutSettings</key>
	<dict>
		<key>After</key>
		<dict>
			<key>main</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>12</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
					</array>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<false/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<true/>
				</dict>
			</dict>
			<key>supporting</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
						<string>label</string>
						<string>status</string>
						<string>sectionType</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>label</key>
						<real>144.5</real>
						<key>sectionType</key>
						<real>100</real>
						<key>status</key>
						<real>134.5</real>
						<key>title</key>
						<real>597.5</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<true/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>Before</key>
		<dict>
			<key>main</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
						<string>label</string>
						<string>status</string>
						<string>sectionType</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>label</key>
						<real>247</real>
						<key>sectionType</key>
						<real>100</real>
						<key>status</key>
						<real>201</real>
						<key>title</key>
						<real>362</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<true/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
			<key>supporting</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
						<string>label</string>
						<string>status</string>
						<string>sectionType</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>label</key>
						<real>144.5</real>
						<key>sectionType</key>
						<real>100</real>
						<key>status</key>
						<real>134.5</real>
						<key>title</key>
						<real>597.5</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<true/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {356, 814}}</string>
		<string>{{357, 0}, {1083, 814}}</string>
	</array>
	<key>binderWidth</key>
	<real>340</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>002229F5-3B1E-452C-8D0A-835C50A2964F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20D249FC-90B7-4D05-A063-E806156E7CEA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20DE5C57-F456-48E0-91E9-D62E00AFAE17</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>213E067E-4099-4814-86ED-FB57E73B8CFC</key>
		<dict>
			<key>DocID</key>
			<string>9D2539A4-4C1F-4FE7-BD37-1350E0CC4257</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>304A0F6D-09C9-4231-81C7-C671008059E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3FECEF9B-D717-40CA-9C14-69A258C727AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>419BED0E-53D1-486F-83F5-1AA3ADE676BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C1C3E52-EEB3-448A-AB4A-4561DD84C333</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52AE15AD-FD89-4920-BFC3-AA76CE3208B5</key>
		<dict>
			<key>DocID</key>
			<string>9D2539A4-4C1F-4FE7-BD37-1350E0CC4257</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>53173413-9BFF-45B9-9E79-90296C92C791</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5560AA64-C043-4907-BB3E-1A4EAEF21568</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6FF3DDB3-9280-483E-A1BC-225488A4E647</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73268A6B-10D2-4577-A7E9-A8915F9C8470</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>759A80B9-FAD1-4B13-8DAF-D3290F79D3F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>782F544D-84B9-4358-B69C-CBCD37839C00</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F66DD17-85AB-4F58-893B-14BC0F85E4D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80C8AD27-42D1-4249-9730-36F5AF6757F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>810A571B-D7A4-419E-A9FF-01E331428138</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>85653140-9FD1-4FF6-98F7-4DF848572C44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8A879178-A95B-4D09-B2FA-28E2CBC55F8D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F976462-5BB3-499D-A6C0-5729F2606D82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C770543-42C0-4EBD-B251-6DA46EF7DED4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D2539A4-4C1F-4FE7-BD37-1350E0CC4257</key>
		<dict>
			<key>DocID</key>
			<string>A2B41CBB-24BD-418D-A5F0-C127C3176884</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>A2B41CBB-24BD-418D-A5F0-C127C3176884</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C50E34A6-FC99-450E-9350-183B916D6C14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C771CF2F-B806-458B-912C-6CD85E825444</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD0791BB-F422-4F9B-96D0-05168505A8F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF3AB501-D79C-48D7-8A47-0A5FD8796C07</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D1F778EC-B8EE-4CFF-956E-930BCCF78472</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9D9D8AC-A90D-4919-8D17-092C3409BFCF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F46AC63D-8977-4A04-9794-EB5886D89E30</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{351, 0}, {1867, 1326}}</string>
	</array>
	<key>exportFilesConvertsRichTextToMMD</key>
	<true/>
	<key>exportFilesFormat</key>
	<integer>10</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>hideMarkup</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {728, 784}}</string>
		<string>{{729, 0}, {354, 784}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>354</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>144.5</real>
		<key>sectionType</key>
		<real>181</real>
		<key>status</key>
		<real>134.5</real>
		<key>title</key>
		<real>597.5</real>
	</dict>
	<key>mainDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {990, 1294}}</string>
		<string>{{991, 0}, {990, 1294}}</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {364, 364}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>3445 303 1675 842 0 0 5120 1415 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>12</real>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>title</key>
		<real>574</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {621, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>3</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
